
.navbar{
    background-color: #3e8b4f;
    position: relative;
}

.stroke{
    position: absolute;
    top: 80px;
    right: 320px;
}

.roper{
    position: relative;
}

.ropes{
    position: absolute;
    top: 5px;
    right: 200px;
}

.nav-link,
.navbar-brand{
 color: #fff   
}

.bg-primary{
    background-color:#3e8b4f
}

.color{
    background-color:#3e8b4f
}
.but{
    background-color:#B8D57E
}

.login{
    background-color:#F8FBFF
}

.home{
    color: #B8D57E;
}

.agenda{
    background-color:#3e8b4f
}

.body{
    overflow-x: hidden;
}

.intro{
    color:#325239
}

.online{
    position: relative;
}

.rope{
    position: relative;
    left: 115px;
    bottom: 98px;
}
.navbar-brand:hover,
.nav-link:hover{
    color:#B8D57E;
}

.rubutu{
    position: relative;
}
.show{
    position: absolute;
    top: 0px;
    right: 0px;
}

.parent{
    position: relative;
}

.lady{
    position: absolute;
    top: 200px;
    left: 120px;
    color: #496650;
    text-align: center;
}

.schools{
    position: absolute;
    top: 155px;
    left: 120px;
    color: #F8FBFF;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}


.parent-1{
    position: relative;
}


.grad{
    background: url(./res/gradient.svg);
    height: 800px;
    width: 100%;

}

.cards{
    position: relative;
}

.top{
    position: absolute;
    top: 160px;
    left: 170px;
    z-index: 1;
}

.height{
font-weight: 700;
font-size: 40px;
}